.key{
    display:flex;
    flex-direction:row;
    padding: 19px;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
}
.main-con {
    display:flex;
    flex-direction:column;
    justify-content: center;
    max-width:280px;
    min-width:277px;
    border:1px solid black;
}
.screen{
    display:flex;
    padding:50px;
    justify-content: center;
    border:1px solid gray;
}
body{
    display:flex;
    justify-content: center;
}
.functions-top, .numpad, .functions-right{
    display:flex;
    flex-flow: wrap;
    justify-content: center;
}
.numpad{
    max-width:144px
}
.functions-right {
    display: flex;
    flex-direction: column;
    max-width: 48px; 
    
}
.center{
    display:flex;
    justify-content: center;
}
.top{
    min-width: 100px;
    justify-content: center;
}